API_BASE_URL=<API_BASE_URL>
NEXT_PUBLIC_API_BASE_URL=<NEXT_PUBLIC_API_BASE_URL>
NEXT_PUBLIC_TRACKING_BASE_URL=<NEXT_PUBLIC_TRACKING_BASE_URL>
NEXT_PUBLIC_DEFAULT_LOCALE=<NEXT_PUBLIC_DEFAULT_LOCALE>
SESSION_COOKIE_DOMAIN=<SESSION_COOKIE_DOMAIN>
SESSION_COOKIE_SECURE=<SESSION_COOKIE_SECURE>
SESSION_COOKIE_SAME_SITE=<SESSION_COOKIE_SAME_SITE>
