NODE_ENV=<NODE_ENV>
PORT=<PORT>
API_PREFIX=<API_PREFIX>
DATABASE_URL=<DATABASE_URL>
REDIS_HOST=<REDIS_HOST>
REDIS_PORT=<REDIS_PORT>
REDIS_PASSWORD=<REDIS_PASSWORD>
CORS_ORIGIN=<CORS_ORIGIN>
APP_VERSION=<APP_VERSION>
COMMIT_SHA=<COMMIT_SHA>
